extends layout

block content
    div.content
        h1.title
            a(href="/") Up.Synedh
        form.dropzone#dzone(method='POST' action='filetoupload' enctype='multipart/form-data')
            div.dz-default.dz-message
                i(aria-hidden='true').fa.fa-upload.fa-5x
            div.fallback
                input(type='file' name='filetoupload' multiple)